<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>NoSQL Bibliographic Records: 
           Implementing a Native FRBR Datastore With Redis
           <%block name="head_title"></%block>       
           
    </title>
    <meta name="description" content="Code4Lib 2012 Conference Presentation">
    <meta name="author" content="Jeremy Nelson">
    <%block name="more_meta"></%block>
    

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/prettify.css" rel="stylesheet" type="text/css" />
    <link href="/css/code4lib.css" rel="stylesheet" type="text/css" />


    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="http://twitter.github.com/bootstrap/examples/images/favicon.ico">
    <link rel="apple-touch-icon" href="http://twitter.github.com/bootstrap/examples/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="http://twitter.github.com/bootstrap/examples/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="http://twitter.github.com/bootstrap/examples/images/apple-touch-icon-114x114.png">
    <script src="/js/jquery-1.7.1.min.js"></script>
    <script src="/js/prettify.js" type="text/javascript"></script>
    <script src="/js/bootstrap-alerts.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-twipsy.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <%block name="more_css"></%block>
    <%block name="more_js"></%block>
  </head>

  <body onload="prettyPrint()">

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">Code4Lib 2012 Presentation</a>
          % if active_timer:
          <span class="timer">00:00</span>
          % endif
          <ul class="nav secondary-nav">
            % if section == 'home':
            <li class="active">
            % else:
            <li>
            %endif
            <a href="/">Home</a></li>
            <li data-dropdown="dropdown" class="dropdown
            % if section == 'background':
             active
            % endif
            ">
             <a href="#" class="dropdown-toggle">Background</a>
             <ul class="dropdown-menu">
              <li><a href="/background/loc_framework.html">Library of Congress Bibliographic Framework</a></li>
              <li class="divider"></li>
              <li><a href="/background/data.html">MARC21, MODS, and FRBR</a></li>
              <li class="divider"></li>
              <li><a href="/background/nosql.html">NoSQL and Redis</a></li>
             </ul>
            </li>
            <li data-dropdown="dropdown" class="dropdown
            % if section == 'cube':
            active
            % endif
            ">
             <a href="#" class="dropdown-toggle">Record-to-Cube</a>
               <ul class="dropdown-menu">
				<li><a href="/record2cube.html">About</a></li>
				<li class="divider"></li>
				<li><a href="/record2cube/record.html">Record/Flat View</a></li>
				<li class="divider"></li>
				<li><a href="/record2cube/single.html">Single FRBR Cube</a></li>
				<li class="divider"></li>
				<li><a href="/record2cube/multiple.html">Multiple Cubes</a></li>
			   </ul>
            </li>
            <li data-dropdown="dropdown" class="dropdown
            % if section == 'engineering':
            active
            % endif
            ">
             <a href="#" class="dropdown-toggle">Engineering</a>
               <ul class="dropdown-menu">
				<li><a href="/engineering.html">FRBR-Redis Datastore Overview</a></li>
				<li class="divider"></li>
				<li><a href="/engineering/python.html">Python with LXML, Redis, and PyMARC</a></li>
				<li class="divider"></li>
				<li><a href="/engineering/skos.html">SKOS and RDA mappings and utilities</a></li>
				<li class="divider"></li>
				<li><a href="/engineering/parsers.html">Cython Parsers</a></li>
				<li class="divider"></li>
				<li><a href="/engineering/testing.html">Unit and BDD testing</a></li>
				<li class="divider"></li>
				<li><a href="/engineering/web.html">Client-side Frameworks</a></li>
				<li class="divider"></li>
				<li><a href="/engineering/source_code.html">Source Code</a></li>
				<li class="divider"></li>
				<li><a href="/future.html">The Future</a></li>
			   </ul>
            </li>
            % if section == 'salvo':
            <li class="active">
            % else:
            <li>
            % endif
            <a href="/salvo.html">Parting Salvo</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
     <%block name="slide"></%block>
     ${self.body()} 

     <%block name="footer">
      <footer>
        <p>© 2012 Jeremy Nelson, Colorado College</p>
      </footer>
      </%block>

    </div> <!-- /container -->

  

</body></html>
