<%inherit file="presentation-inside.html" />

<%block name="more_js">
 <script src="/js/default.js"></script>
</%block>
<div class="content">
 <div class="hero-unit" id="main-content">
  <h1 class="cc_royal">MARC21, MODS, &amp; FRBR</h1>
  <p>The <a href="${project.url}">${project.name}</a> project begins with a basic 
     understanding of MARC, MODS, and FRBR biblographic record technologies.</p>
  <p><a class="btn primary large" href="/background/marc21.html">MARC21 &raquo;</a></p>
 </div>
 
 <div class="row">
  ## MARC21 Section
  <div class="span6" id="c1r1">
   <h2>MARC21<a name="marc21"></a></h2>
   <p>MARC21 is the current data carrier for library bibliographic 
      records.</p>
   </p>
   <ul>
     <li>Legacy and wide-spread</li>
     <li>Inoperability is a core requirement of LOC Bibliographic
         Framework</li>
     <li>Colorado College's legacy ILS uses MARC21 for print holdings 
         and electronic resources</li>
   </ul>
   <p><a class="btn" href="/background/marc21.html">Details
      &raquo;</a></p>
  ## END MARC21 Section
  </div>
  ## START MODS Section
  <div class="span5" id="c2r1">
   <h2>MODS<a name="mods"></a></h2>
   <p>The <b>M</b>etadata <b>O</b>bject <b>D</b>escription 
   <b>S</b>chema or <strong>MODS</strong> is an XML element set with language-based tags 
   and attributes</p>
   <ul>
    <li>Semantically richer than Dublin Core</li>
    <li>Simpler than MARCXML and MARC21; however, does not provide
        full round-trip compatibility with MARC formats</li>
    <li>Used by Colorado College's Fedora Commons Digital Archives hosted
     by <a href="http://www.coalliance.org/">Colorado Alliance of Research Libraries</a>
    </li>
   </ul>
   <p><a class="btn" href="/background/mods.html">Details
      &raquo;</a></p>
  ## END MODS Section      
  </div>
  ## START FRBR Section
  <div class="span5" id="c3r1">
  <h2>FRBR<a name="frbr"></a></h2>
  <p><b>F</b>unctional <b>R</b>equirements for 
     <b>B</b>ibliographic <b>R</b>ecords or <strong>FRBR</strong> is</p>
  <ul>
    <li>Adopted as part of RDA Vocabulary</li>
    <li>Multiple mappings including FRBRoo, VRA, MARC, and MODS already
        exist or are being developed</li>
  </ul>
  <p><a class="btn" href="/background/frbr.html">Details 
      &raquo;</a></p>
  ## END FRBR Section      
  </div>
 </div>
</div>
