<%inherit file="slide.html" />

<%block name="more_js">
<script src="/js/raphael-min.js" type="text/javascript"></script>
<script src="/js/default.js" type="text/javascript"></script>
<script>
 $(function () {
  $("a[rel=popover]")
    .popover({
     offset: 10,
     html: true
   })
   .click(function(e) {
          e.preventDefault()
         })
  });
 var paper = Raphael("frbr-redis-ds-illustration");
 
</script>
</%block>

<%block name="main_content">
  <h1 class="cc_royal">FRBR</h1>
  <p>Functional Requirements for Bibliographic Records or 
     <a href="http://www.ifla.org/publications/functional-requirements-for-bibliographic-records">FRBR</a>
  </p>
  <ul class="main-content">
    <li>Adopted as part of Resource Description and Access (<strong>RDA</strong>) 
    the leading candidate to replace Anglo-American Cataloguing Rules 
    (<strong>AACR2</strong>)</li>
    <li>Multiple mappings including FRBRoo, VRA, MARC, and MODS already
        exist or are being considered</li>
  
  </ul>
  <p>
    <a class="btn primary large" href="/background/nosql.html">NoSQL 
    &amp; Redis &raquo;</a>
  </p>  
</%block>

<%block name="sidebar_content">
<div class="well">
 <p>
  <span class="wemi">W</span>ork as defined by <span class="label"><a href="#" data-placement="left" rel="popover" data-content="a distinct intellectual or artistic creation" title="IFLA Work Definition">IFLA</a></span>,
  <span class="label success">
  <a href="#" data-placement="below" rel="popover" title="FRBR/CIDOC CRM Work Definition" data-content="This class comprises the sums of concepts which appear in the course of the coherent evolution of an original idea into one or more expressions that are dominated by the original idea. The substance of Work is concepts. A Work may be elaborated by one or more Actors simultaneously or over time. A Work may have members that constitute components of the overall concept or that are alternatives to other members of the work. Members of a work may or may not represent the concept of the Work as a whole; for instance a translation reinterprets the whole, a volume of a trilogy represents a part of the concept. A Work can be either individual or complex. ">FRBRoo</a></span>,
   and 
   <span class="label notice"><a href="#" data-placement="left" rel="popover" title="RDA Vocabularies Work Definition" data-content="A distinct intellectual or artistic creation.">RDA</a></span>.
  </p>
 <p><span class="wemi">E</span>xpression as defined by 
  <span class="label"><a href="#" data-placement="left" rel="popover" data-content="the intellectual or artistic realization of a <i>work</i>" title="IFLA Expression Definition">IFLA</a></span>,
  <span class="label success">
  <a href="#" data-placement="below" rel="popover" title="FRBR/CIDOC CRM Expression Definition" data-content="This class comprises the intellectual or artistic realisations of works in the form of identifiable immaterial objects, such as texts, poems, jokes, musical or choreographic notations, movement pattern, sound pattern, images, multimedia objects, or any combination of such forms that have objectively recognisable structures">FRBRoo</a></span>
  and
  <span class="label notice"><a href="#" data-placement="left" rel="popover" title="RDA Vocabularies Expression Definition" data-content="The intellectual or artistic realization of a work in the form of alpha-numeric, musical, or choreographic notation, sound, image, object, movement, etc., or any combination of such forms.">RDA</a></span>.
 </p>
 <p>
  <span class="wemi">M</span>anifestation as defined by <span class="label"><a href="#" data-placement="left" rel="popover" data-content="the physical embodiment of an <i>expression</i> of a <i>work</i>" title="IFLA Manifestation Definition">IFLA</a></span> and
  and
  <span class="label notice"><a href="#" data-placement="left" rel="popover" title="RDA Vocabularies Manifestation Definition" data-content="The physical embodiment of an expression of a work.">RDA</a></span>.
 </p>
 <p>
  <span class="wemi">I</span>tem as defined by <span class="label"><a href="#" data-placement="left" rel="popover" title="IFLA Item Definition" data-content="a single exemplar of a manifestation">IFLA</a></span>,
  <span class="label success">
  <a href="#" data-placement="below" rel="popover" title="FRBR/CIDOC CRM Item Definition" data-content="This class comprises physical objects (printed books, scores, CDs, DVDs, CD-ROMS, etc.) that carry a F24 Publication Expression and were produced by an industrial process involving a F3 Manifestation Product Type.">FRBRoo</a></span>,
  and
  <span class="label notice"><a href="#" data-placement="left" rel="popover" title="RDA Vocabularies Manifestation Definition" data-content="A single exemplar of a manifestation.">RDA</a></span>.
 </p>
 
</div>

<div class="alert-message block-message warning">
 <p><strong>What about?</strong> 
    Group 2 Elements like Person, Places, or FRAD?
  <a href="${project.url}">${project.name}</a> uses these and more.
  <button class="btn info" data-keyboard="true" data-backdrop="true" 
    data-controls-modal="frbr-redis-ds-illustration" >Illustrate</button>
</div>
</%block>

<%block name="subtopic_one">
<div>
 <h2>FRBR-Redis Datastore</h2>
 <p>
  The <a href="${project.url}">${project.name}</a> project 
  uses a combination of
  all three of <span class="label">IFLA</span>, 
  <span class="label notice">RDA</span>, and 
  <span class="label success">FRBRoo</span> with full unit test coverage
  of <span class="label">IFLA</span> and 
  <span class="label notice">RDA</span>
  <span class="wemi">WEMI</span> FRBR Group 1 entities. 
 </p>
 <p>
 As <a href="${project.url}">${project.name}</a> matures, unit test
 coverage of <span class="label success">FRBRoo</span> 
 <span class="wemi">WEMI</span> FRBR Group 1 entities will continue.
 </p>
</div>

</%block>

<%block name="subtopic_two">
<div class="well">
 <h5>Legend</h5>
 <p>
  <span class="label success">FRBRoo</span> CIDOC CRM FRBR object-oriented
  FRBR expressed as  
  <a href="http://www.cidoc-crm.org/rdfs/FRBR1.0.1.rdfs">RDFS</a>.
 </p>
 <p>
  <span class="label">IFLA</span> <a href="http://www.ifla.org/">International Federation of
  Library Associations and Institutions</a>'s <a href="http://archive.ifla.org/VII/s13/frbr/frbr_current3.htm">FRBR Final report</a>.
 </p>
 <p></p>
 <p>
  <span class="label notice">RDA</span> <a href="http://rdvocab.info/">The RDA (Resource Description and Access) Vocabularies</a> website
  provides definitions <a href="http://metadataregistry.org/schemaprop/list/schema_id/14.html">here</a>.
 </p>
 
</div>
</%block>

##START FRBR-Redis datastore visualization DIV
<div class="modal hide fade span10" id="frbr-redis-ds-illustration">
 ##START modal-header DIV
 <div class="modal-header">
  <a href="#" class="close">&times;</a>
  <h2>${project.name} Illustration</h2>
 ##END modal-header DIV
 </div>

 ##START modal-body DIV
 <div class="modal-body">
  ##START visual-content DIV
  <div id="visual-content">

  ##END visual-content DIV
  </div>
  
  ##START modal-footer DIV
  <div class="modal-footer">
    <button class="btn primary" onclick="$('#frbr-redis-ds-illustration').modal('hide')">Close</button>
    <button class="btn" onclick="frbrDisplay()">Refresh</button>

  ##END modal-footer DIV
  </div>
 ##END modal-body DIV
 </div>

## END FRBR-Redis datastore visualization DIV
</div>


