<%inherit file="presentation-inside.html" />
## START content DIV
<div class="content">
 ## START hero DIV
 <div class="hero-unit">
  <h1 class="cc_royal">The Future</h1>
  <p>Next steps for the <a href="#">FRBR-Redis Datastore</a> project</p>
   <p>
     <a class="btn primary large" href="/salvo.html">Parting Salvo &raquo;</a></p>
 ## END hero DIV
 </div>
 
 ## START row DIV
 <div class="row">
  ## START timeline 1 DIV
  <div class="span6 well" id="q2_32012">
   <h3>April-September 2012</h3>
   <ul>
    <li>Finish Solr interoperablity</li>
    <li>Build Item operational modules using <a href="#">Aristotle</a>
        for end-user UI.
    </li>
    <li>Begin native C FRBR-Redis datastore</li>
   </ul>
   ## END timeline 2 DIV
  </div>
 
 
 ## END row DIV
 </div>


## END content DIV
</div>
