  <%inherit file="base.html" />
  <div class="hero-unit space_bk">
        <h1 class="cc_royal">Code4Lib 2012</h1>
        <h2 property="dc:title">NoSQL Bibliographic Records: Implementing a Native FRBR Datastore with Redis</h2>
        <p style="margin-left:3em;margin-top:1.25em;"><span property="dc:creator">Jeremy Nelson</span><br/>
         <span property="dc:publisher">Colorado College<br/>
         Tutt Library</span></p>
         <p><a class="btn primary large" href="background.html">Begin »</a></p>
      </div>

      <!-- Main sections of Presentation -->
      <div class="row">
        <div class="span6">
          <h2>Background</h2>  
          <p>Using the Library of Congress 
             <a href="/background/loc_framework.html">Bibliographic Framework for the Digital Age</a> 
             as a starting point for software development requirements; the 
             <a href="${project.url}">${project.name}</a> project
             uses a legacy MARC catalog and digital repository of a 
             small academic library to consolidate and expand services 
             of its cataloging and systems to the users and community of 
             a top-tier liberal arts college.
           </p>          
          <p>The <a href="#">FRBR-to-Redis-Datastore</a> project begins
           with a basic understanding of the 
           <a href="background/data.html">MARC, MODS, and FRBR</a> 
           implemented using a <a href="/background/nosql.html">NoSQL</a> 
           technology called <a href="/background/redis.html">Redis</a>. 
          </p>

          <p>
           This presentation guides you through the theories
           and technologies behind one such proof-of-concept bibliographic 
           framework for the 21st century.
          </p>
          <p><a class="btn" href="/background.html">View details »</a></p>
          
        </div>
        <div class="span5">
          <h2>Record-to-Cube</h2>
           <p> 
           The underlying concept of the FRBR Redis Datastore is the
           <a href="/record2cube/single.html">Bibliographic Cube</a>.
           Instead of trying to creating a single, 
           flat canonical 
           <a href="/record2cube/record.html">bibliographic record</a>; 
           the datastore orchestrates a network of key-value 
           bibliographic associations with FRBR entities.          
           </p>
           <p>
           This is better visualized as moving from a flat record (Dublin 
           Core, MARC21, MODS XML,
           etc.) to a cube of FRBR entities intersecting with parallel 
           planes of metadata branes.
           </p>
          <p><a class="btn" href="/record2cube.html">View details »</a></p>
       </div>
        <div class="span5">
          <h2>Engineering</h2>
          <p>
          Initially focusing on interoperability with existing MARC21 and 
          MODS collections of records in legacy ILS and digital repository 
          systems leveraging the existing work by the 
          <a href="http://rdvocab.info/">RDA Vocabularies </a> and
          the Library of Congress. The 
          <a href="${project.url}">${project.name}</a> uses  
          <a href="/engineering/skos.html">SKOS</a> representations of 
          FRBR and RDA to map MARC21 and MODS records
          to the Redis datastore. 
          </p>
          <p>
          Other metadata 
          schemes and future user-interface are in design stages for 
          <a href="${project.url}">${project.name}</a>.
          </p>          
          <p><a class="btn" href="/engineering.html">View details »</a></p>
        </div>
      </div>

