<%inherit file="slide.html" />


<%block name="main_content">
  <h1 class="cc_royal">Project Requirements</h1>
  <p>The <a href="${project.url}">${project.name}</a> uses the Library of Congress
  <i>Bibliographic Framework for the Digital Age</i> for requirements
  in its AGLE-style software development</p>
   <p>
     <a class="btn primary large" href="/background/loc_testing.html">Framework Testing &raquo;</a>
  </p>
</%block>

<%block name="sidebar_content">
<div class="">
   <ol>
    <li>Broad accommodation of content rules and data models.</li>
    <li>Provision for types of data that logically accompany or support bibliographic description</li>
    <li>Accommodation of textual data, linked data with URIs instead of text, and both</li>
    <li>Consideration of the relationships between and recommendations for 
        communications format tagging, record input conventions, and system 
        storage/manipulation.</li>
    <li>Consideration of the needs of all sizes and types of libraries, from 
        small public to large research.</li>
    <li>Continuation of maintenance of MARC until no longer necessary.</li>
    <li>Compatibility with MARC-based records.</li>
    <li>Provision of transformation from MARC 21 to a new bibliographic environment.</li>
   </ol>
</div>
</%block>

<%block name="subtopic_one">
<div class="">
 
</div>
</%block>
