<%inherit file="slide.html" />


<%block name="main_content">
  <h1 class="cc_royal">Summary</h1>
  <p>The Library Of Congress Working Group's A Bibliographic Framework for the Digital Age</p>
   <p>
     <a class="btn primary large" href="/background/loc_requirements.html"> Framework Requirements &raquo;</a>
  </p>
</%block>

<%block name="sidebar_content">
<div class="well">
<p>
 The 
 <a href="http://www.loc.gov/marc/transition/news/framework-103111.html"><i>Bibliographic Framework for the Digital Age</i></a>, a press 
 release from the <a href="">Library of Congress</a>, is the result
 of its Working Group on the Future of Bibliographic Control and the
 <a href="">Bibliographic Framework Initiative</a>
</p>
</div>
<div class="alert-message error">
 <strong>Sorry folks!</strong> MARC is not going anywhere...
</div>
</%block>


<%block name="subtopic_one">
<div class="alert-message block-message warning">
<h2>Suggested Approach</h2>
<p>
 The Library of Congress annoucement of 
 <a href="http://www.loc.gov/marc/transition/news/framework-103111.html">Bibliographic Framework for a 
 Digital Age's</a> focus
 will be on the Web using <a href="http://linkeddata.org/">Linked Data</a> with 
 <a href="http://www.w3.org/RDF/">RDF</a>. From the report the following
 specific areas are suggested to be of help (including, with some 
 modesty, ${project.name}, see <span class="label notice">More</span> for linkages to these areas in project below)
</p>
<ul>
 <li>Developing possible interaction scenarios within the information community
   <span class="label notice">More <a href="/background/loc_testing.html">here</a> &amp; 
    <a href="/engineering/testing.html">here</a>
   </span>
  </li>
 <li>Developing domain ontologies for the description of resources and 
     related data in scope.
   <span class="label notice">More <a href="/engineering/skos.html">here</a></span>
  </li>
 <li>Organizing prototyping and reference implementations.</li>
</ul>
</div>
</%block>

<%block name="subtopic_two">
<div class="alert-message block-message info">
<h2>MARC21 &amp; the Future</h2>
<p>
 Much of the 
 <a href="http://www.loc.gov/marc/transition/news/framework-103111.html">Bibliographic Framework for a 
 Digital Age's</a> discusses the legacy and continued use of the 
 <a href="/background/marc21.html">MARC 21</a> in library environment 
 and how given its ubiquity in library technology and workflows that interoperability 
 is needed in any bibliographic framework in the future. 
</p>
</div>
</%block>
