<%inherit file="presentation-inside.html" />

<%block name="more_css">
<style>

</style>
</%block>

<div class="content">
 <div class="hero-unit" id="main-content">
  <h1 class="cc_royal">NoSQL &amp; Redis</h1>
  <p>NoSQL is a class of newer data storage 
    technologies that sidestep traditional 
    normalized databases that use SQL and schemas. While a comprehensive
    review of NoSQL projects was not done, investigation was done on some
    commerical and open-source until Redis was selected and was started as
    a distinct
    <a href="${project.url}">${project.name}</a> project. Redis was selected 
    for its easy of deployment and flexiblity in exploring new data 
    structures for representing bibliographic records.
   </p>
   
   ##<a href="http://nosql-database.org/">http://nosql-database.org/</a>,
   ##<a href="http://en.wikipedia.org/wiki/NoSQL">http://en.wikipedia.org/wiki/NoSQL</a>
          
  <p><a class="btn primary large" href="/background/hadoop.html">BigTable and Hadoop &raquo;</a></p>
 </div>
 
 <div class="row">
  ## Google Bigtable and Hadoop
  <div class="span6" style="background: url(http://hadoop.apache.org/images/hadoop-logo.jpg) bottom right no-repeat;">
   <h2>BigTable, Google App Engine, and Hadoop<a name="bigtable.html"></a></h2>
   <ul>
     <li><a href="http://dl.acm.org/citation.cfm?doid=1365815.1365816">Bigtable</a> original distributed storage system for managing structured data at
     Google</li>
     <li><a href="http://code.google.com/appengine">Google App Engine</a>
         provides access to Google proprietary implementation of BigTable and 
         GFS but is limited by restrictions and is tied to Google's Cloud.</li>
     <li><a href="http://hadoop.apache.org/">Hadoop</a> is one of the 
         fastest growing open-source implementation of BigTable</li>
     <li>Hadoop can be complex to set-up; model would seem to work for 
         well for an FRBR-based datastore</li>
   </ul>
   <p><a class="btn" href="/background/hadoop.html">Details
      &raquo;</a></p>
  </div>
  ## END Google BigTable and Hadoop  Section
  ## START Other classes of nosql Section
  <div class="span5">
   <h2>Other NoSQL <a name="other_nosql"></a></h2>
   <p>There are many other NoSQL datastore technologies including document stores like 
    <a href="http://couchdb.apache.org/">CouchDB</a> and 
    <a href="http://www.mongodb.org/">MongoDB</a>. More well-known graph 
    datastores <a href="https://github.com/twitter/flockdb">FlockDB</a> and
    <a href="http://neo4j.org/">Neo4j</a>. 
   <p>Facebook donated their 
     <a href="http://cassandra.apache.org/">Cassandra</a> technology to the
     Apache foundation, that along with Amazon's 
     <a href="http://aws.amazon.com/DynamoDB/">Dynamo</a> are
     examples of eventually‐consistent key‐value stores.
   </p>
   <p><a class="btn" href="/background/other_nosql.html">Details 
      &raquo;</a></p>
  </div>
  ## END Other classes of nosql Section
  ## START Redis Section
  <div class="span5" style="background: url(http://redis.io/images/redis.png) top right no-repeat;">
  <h2>Why Redis?<a name="frbr"></a></h2>
  <p>The key-value <a href='http://redis.io'>Redis.io</a> cache nature
  means Redis is fast, small, and easy is to deploy, key requirements 
  of the LOC bibliographic frameworks and cructial for smaller and leaner
  libraries and cultural information technology organizations.</p>
  <ul>
    <li>Fast, C code</li>
    <li>Multiple language bindings including Python, Ruby, PHP, Perl,
    C#, and Java. </li>
    <li>Easy to represent multi-dimensional nature of bibliographic
     records</li>
  </ul>
  <p><a class="btn" href="/background/redis.html">Details 
      &raquo;</a></p>
  </div>
  ## END Redis Section
 </div>
</div>
