<%inherit file="slide.html" />


<%block name="main_content">
  <h1 class="cc_royal">Redis</h1>
  <p> Redis is an open-source, key-value datastore that is 
      small, and easy is to deploy. Redis operates on in-memory dataset
      for great performance and can either periodically dump the data
      to disk or append the data to disk with each command to a log.
  </p>
  <p>
     <a class="btn primary large" href="/record2cube.html">Record to Cube Visualizations &raquo;</a>
  </p>
</%block>

<%block name="sidebar_content">
<div>
 <div class="alert-message error">
 <p><strong>Quick Redis Setup</strong></p>
 <p>
 (Assumes you are running under a Linux VM
  with wget and make already installed)</p>
 <p>Open a terminal window and run the following commands:</p>
 <pre style="color: black;">
  $ wget http://redis.googlecode.com/files/redis-2.4.5.tar.gz
  $ tar xzf redis-2.4.5.tar.gz
  $ cd redis-2.4.5
  $ make
 </pre>
 <p>Now run the redis server</p>
 <pre style="color: black;">
  $ src/redis-server
 </pre>
 </div>
</div>
</%block>


<div class="row">
 ## START Key-value DIV
 <div class="span6">
  <h3>Key-Value Store</h3>
  <p>Also know as data-structure server, when the Redis datastore is
     queried with a key, that value can contain any of the following:
  <ul>
   <li>strings</li>
   <li>hashes</li>
   <li>lists</li>
   <li>sets</li>
   <li>sorted-sets</li>
  </ul>
 ## START Key-value DIV
 </div>
 
 ## START alert and presentation redis server DIV
 <div class="span5">
  <div class="alert-message success">
   <strong>Redis key-value data structures</strong> are
   descriptive enough to model bibliographic records 
   using FRBR as a framework of keys and
   arbitary metadata format or schema as values in the
   <a href="${project.url}">${project.name}</a> project.
  </div>
 
  <p style="text-align:center"> 
  <button class="btn info" data-keyboard="true" data-backdrop="true" 
    data-controls-modal="code4lib2012-redis-info" >Presentation Redis Info</button>
  </p>
 ## END alert and presentation redis server DIV
 </div>
 
 ## START other redis DIV
 <div class="span4 well">
  <h3>What about Redis ...?</h3>
  <p style="text-align:center">
   <a href="#" data-keyboard="true" data-backdrop="true" 
    data-controls-modal="ruby-redis"><img src="/img/Ruby_logo.jpg" width="150" /></a>
  </p>
  <p style="text-align:center">
   <a href="#" data-keyboard="true" data-backdrop="true" 
    data-controls-modal="php-redis"><img src="http://static.php.net/www.php.net/images/php_snow_2008.gif"></a>
  </p>
  <p style="text-align:center">
   <a href="#" data-keyboard="true" data-backdrop="true" 
    data-controls-modal="java-redis"><img src="http://upload.wikimedia.org/wikipedia/en/3/39/Java_logo.svg" height="125" /></a>
  </p>
  <p>
   Complete list of Redis client libraries are available at
   <a href="http://redis.io/clients">http://redis.io/clients</a>.
  </p>
 ## END other redis DIV
 </div>
 
</div>

## START Code4Lib Redis Modal DIV
<div class="modal hide fade" id="code4lib2012-redis-info">
 ##START modal-header DIV
 <div class="modal-header">
  <a href="#" class="close">&times;</a>
  <h3>Code4Lib 2012 Redis Server Info</h3>
 ##END modal-header DIV
 </div>
 
 ##START modal-body DIV
 <div class="modal-body">
 % if not redis_server:
  <div class="alert-message error"><a class="close" href="#">x</a>
  <p><strong>Error!</strong> Code4Lib 2012 Presentation Redis Server
  Not Active</p>
  </div>
 % else:
 <%
   redis_info = redis_server.info()
 %>
  <table class="condensed-table zebra-stripes">
  <thead>
    <tr>
     <th>Redis Server Setting</th>
     <th>Value</th>
    </tr>
   </thead>
   <tbody>
    <tr>
     <th>AOF Enabled</th>
     <td>${bool(redis_info['aof_enabled'])}</td>
    </tr>
    <tr>
     <th>Changes Since Last Save</th>
     <td>${redis_info['changes_since_last_save']}</td>
    </tr>
    <tr>
     <th>Connected Clients</th>
     <td>${redis_info['connected_clients']}</td>
    </tr>
    <tr>
     <th>Datastore last saved on</th>
     <td>${redis_info['last_save_time']}</td>
    </tr>
    <tr>
     <th>Redis Version</th>
     <td>${redis_info['redis_version']}</td>
    </tr>
    <tr>
     <th>Uptime in Days</th>
     <td>${redis_info['uptime_in_days']}</td>
    </tr>
    <tr>
     <th>Uptime in Seconds</th>
     <td>${redis_info['uptime_in_seconds']}</td>
    </tr>
    <tr>
     <th>Used Memory</th>
     <td>${redis_info['used_memory_human']}</td>
    </tr>
    <tr>
      <th>Virtual Machine?</th>
      <td>${bool(redis_info['vm_enabled'])}</td>
     
      </td>
    </tr>
   </tbody>
  </table>
 % endif
 ##END modal-body DIV
 </div>
 ##START modal-footer DIV
 <div class="modal-footer">
  <button class="btn primary" onclick="$('#code4lib2012-redis-info').modal('hide')">Close</button>
 ##END modal-footer DIV
 </div>
## END Code4Lib Redis Modal DIV
</div>

## START Ruby Modal DIV
<div class="modal hide fade" id="ruby-redis">
 ## START Ruby Modal Header 
 <div class="modal-header">
 <a href="#" class="close">&times;</a>
 <h3>Redis Ruby Client</h3>
 ## END Ruby Modal Header 
 </div>
 ## START Ruby Modal Body
 <div class="modal-body">
 <p><img src="/img/Ruby_logo.jpg" width="125" style="float: left" /> 
   Redis has a mature and stable Ruby client library available on 
 Github at 
 <a href="https://github.com/ezmobius/redis-rb">https://github.com/ezmobius/redis-rb</a>.
 </p>
 ## END Ruby Modal Body
 </div>
 ## START Ruby Modal Footer
 <div class='modal-footer'>
  <button class="btn primary" onclick="$('#ruby-redis').modal('hide')">Close</button>
 ## END Ruby Modal Footer
 </div>
## END Ruby Modal DIV
</div>

## START PHP Modal DIV
<div class="modal hide fade" id="php-redis">
 ## START PHP Modal Header 
 <div class="modal-header">
 <a href="#" class="close">&times;</a>
 <h3>Redis PHP Clients</h3>
 ## END PHP Modal Header 
 </div>
 ## START PHP Modal Body
 <div class="modal-body">
 <p><img src="http://static.php.net/www.php.net/images/php_snow_2008.gif" style="float: right" /> 
   Redis has a number of mature and stable PHP client libraries including:
   <ul>
    <li><a href="https://github.com/nrk/predisb">Predis</a></li>
    <li><a href="https://github.com/nicolasff/phpredis">phpredis</a></li>
   </ul>
 </p>
 ## END PHP Modal Body
 </div>
 ## START PHP Modal Footer
 <div class='modal-footer'>
  <button class="btn primary" onclick="$('#php-redis').modal('hide')">Close</button>
 ## END PHP Modal Footer
 </div>
## END PHP Modal DIV
</div>

## START JAVA Modal DIV
<div class="modal hide fade" id="java-redis">
 ## START JAVA Modal Header 
 <div class="modal-header">
 <a href="#" class="close">&times;</a>
 <h3>Redis Java Clients</h3>
 ## END JAVA Modal Header 
 </div>
 ## START JAVA Modal Body
 <div class="modal-body">
 <p><img src="http://upload.wikimedia.org/wikipedia/en/3/39/Java_logo.svg" height="125" /> 
   The recommended Redis Java library is <a href="https://github.com/nrk/predisb">Jedis</a>
 </p>
 ## END JAVA Modal Body
 </div>
 ## START JAVA Modal Footer
 <div class='modal-footer'>
  <button class="btn primary" onclick="$('#java-redis').modal('hide')">Close</button>
 ## END JAVA Modal Footer
 </div>
## END JAVA Modal DIV
</div>
