<%inherit file="presentation-inside.html" />

<%block name="more_js">
<script src="/js/default.js"></script>
<script>
 $(document).ready(function() {
	$("#charles-stross-galatic-cataloger").hide();
	$("#Microsoft-Research-Future-of-Writing").hide();
	$("#internet-of-things").hide();
 });
</script>
</%block>

<%block name="more_css">
<style>
 #charles-stross-galatic-cataloger {
  border: 1px solid black;
  position: absolute;
  left: 250px;
  top: 75px;
  width: 640px;
 }
</style>
</%block>

## START content DIV
<div class="content">
 ## START hero DIV
 <img src="/img/Carol.png" style="float:left;padding-right:1em;" height="250px"/>
 <div class="hero-unit">
  <h1 class="cc_royal">Parting Salvo</h1>
  <p>Some finishing thoughts about (one) possible future 
     of cataloging and libraries</p>
  <h2>Thank-you!</h2>
  
 ## END hero DIV
 </div>

 

 
 ## FIRST row DIV
 <div class="row">
  ## START What? Why? DIV
  <div class="span6">
   <p><a class="btn info large" data-keyboard="true" data-backdrop="true" 
    data-controls-modal="cataloging-future">Catalog What? Where? Why?</a></p>
  ## END What? Why? DIV
  </div>
  ## START Stross Comment DIV
  <div class="span5">
  <p><a class="btn info large" onclick="salvoAnimation2('start')">Charles Stross Comment</a></p>
  ## END Stross Comment DIV
  </div>
  ## START Brand Remix DIV
  <div class="span5">
    <p><a class="btn info large" data-keyboard="true" data-backdrop="true" 
    data-controls-modal="brand-remix">Stewart Brand Remix</a></p>
  ## END Brand Remis DIV
  </div>
 ## END row DIV
 </div>

## END content DIV
</div>

## START Cataloger Future DIV
<div class="modal hide fade span10" id="cataloging-future">
 <div class="modal-header">
  <a class="close" href="#">x</a>
  <h2>Internet of Things, Spimes, Augmented Reality, and other hyped terms...</h2>
 </div>
 <div class="modal-body">
 <h2>...will all need catalogs!</h2>
 <blockquote>
 <p>Good and relevant cataloging establishes the long-now memory of our
    real and imagined artifacts</p>
 </blockquote>
 </div>
 <div class="modal-footer">
  <a class="btn info large" onclick="$('#cataloging-future').modal('hide')">Close</a>
 </div>
## END Cataloger Future DIV
</div>

 ## START Brand DIV
 <div class="modal hide fade span10" id="brand-remix">
  <div class="modal-header">
   <a href="#" class="close">x</a>
   <img src="/img/Stewart-Brand.jpg" style="float:left" />
 <h2 style="color:#003479;">We are all catalogers we might as we well get good at it</h2>
  </div>
  <div class="modal-body">
   <p>Remix of Steward Brand's quote from the first page of the Whole Earth
    catalog</p>
  </div>
  <div class="modal-footer">
   <a class="btn alert large" onclick="$('#brand-remix').modal('hide')">Close</a>
  </div>
 ## END Brand DIV
 </div>

## START Stross Div
<div class="hero-unit" id="charles-stross-galatic-cataloger" 
 style="background: url(http://upload.wikimedia.org/wikipedia/commons/thumb/f/f0/Charles_Stross_May09.jpg/240px-Charles_Stross_May09.jpg) top right no-repeat;">
<h1 class="cc_royal">The Galatic Catalog</h1>
<h2>Charles Stross Laundry Series</h2>
<p>
 Magic is just computational realisim, making what we do even more
 voodoo. Do you ever imagine being a cataloger in a Lovercraftain, Lucas,
 <a href="http://harrypotter.wikia.com/wiki/Hogwarts_Library">Potter</a>, 
 Dungeons and Dragons, or Tokken universies?
</p>
<p>
 However! Unlike all of those other fields, we as librarians, information
 technologists, and curious individuals can and do apply imaginary 
 topics to never existing artifacts using the same technology we use for
 tangible objects. 
</p>
<p>
 So imagine your FRBR artifacts cataloged with your communitiy's metadata
 branes, creating the augmented world of smart spimes.
</p>
<p>
<a class="btn alert large" onclick="salvoAnimation2()">Close</a>
</p>
## END Stross Div
</div>

## START MS Future of Writing
<div class="hero-unit" id="Microsoft-Research-Future-of-Writing">
<h2>Project 5: The Future of Everything</h2>
<p>
The future of writing is the future of 
writing down everything. We will be the 
last generation whose life will not have 
been on record. Personal technology has 
been tracking our every move for some 
time already and selective memory is a 
biological concept from which databases 
do not suffer. The future of writing will be 
our auto-autobiographies being created 
by machinic ghost-writers. How aware 
will we be of being the protagonist of a 
continuous narrative? One through which 
the past could be re-enacted, the meaning 
of the present influenced, and the future 
predicted.
</p>
## END MS Future of Writing
</div>

## START Internet of Things DIV
<div id="internet-of-things">
<h2>Internet of Things</h2>
<p>Does 
 <a href="http://www.theinternetofthings.eu/">the Internet of Things</a> 
 need a catalog?</p>
<p>Does YOUR catalog add value your artifacts both real and imagined?</p>

## END Internet of Things DIV
</div>
