<%inherit file="slide.html" />

<%block name="more_js">
<script>
 $(document).ready(function() {
   $("#unit-test-log").hide();	  
  });	
</script>
</%block>

<%block name="main_content">
  <h1 class="cc_royal">Unit and BDD Testing</h1>
  <p>In <a href="${project.url}">${project.name}</a> Unit tests of code
     are the current method of exploring the functionality of the NoSQL &amp; Redis
     as a Bibliographic datastore with the current number of active unit
     tests at <span class="label important" style="font-size:1em">${active_unit_tests}</span></p>
  <p>Behavior Driven Development (BDD) based testing is a welcome development that started 
     in the Ruby community and now is being adopted in Python through modules such 
     as <a href="http://lettuce.it/">lettuce</a>.
  </p>
  <p>
     <a class="btn primary large" href="/engineering/web.html">Client-side Web &amp; Javascript &raquo;</a>
  </p>
</%block>

<%block name="sidebar_content">
<div class="well">
 <h5>FRBR as a Mid-level Theory</h5>
 <p>Unit and BDD Testing as experimental
     methodology</p>
 <p>...</p>
</div>

<div style="text-align:center">
 <p>
 <a class="btn success large" onclick="$('#unit-test-log').show()" href="#">Show Unit Test Log</a>
 </p>
 <p>
 <a class="btn success large" onclick="$('#bbd-test-log').show()" href="#">Show BDD Test Log</a>
</div>
</%block>

<%block name="subtopic_one">
<div class="well">
 <h3>BDD</h3>
 <p>The <a href="/background/loc_framework.html">Library of Congress 
    Bibliographic Framework for Digital Works</a>, along with other metadata
    standards and schemas such as RDA, FRBR specification, as well as 
    technical documentation is used to create the unit testing of specific
    code in <a href="${project.url}">${project.name}</a>. Described user 
    sceniarios or use cases are especially valued as BDD features are
    created for each and then tested to see if the datastore can meet
    this user requirement.
</div>
</%block>

## START Unit Test Log DIV
<div class="unit_test_log" id="unit-test-log">
<a href="#" class="close" onclick="$('#unit-test-log').hide()">x</a>
<h2>Unit Test Log</h2>
<pre>
${unit_test_results}
</pre>
<p style="text-align:right">
<a href="#" class="btn primary large" onclick="$('#unit-test-log').hide()">Close</a>
</p>
## END Unit Test Log DIV
</div>
