<%inherit file="slide.html" />

<%block name="main_content">
 <h1 class="cc_royal">Client-side Web and Javascript</h1>
 <p>To assist in the development <a href="#">FRBR-to-Redis Datastore</a> 
    HTML user-interface, a number of open-source frameworks and libraries
    were used.</p>
    <p>
     <a class="btn primary large" href="/engineering/source_code.html">Source Code &raquo;</a>
   </p>
</%block>

<%block name="sidebar_content">
<div class="">
 <h2>Open-source Framewoks</h2>
 <ul>
  <li><a href="http://twitter.github.com/bootstrap/">Bootstrap</a></li>
  <li><a href="http://raphaeljs.com/">Rapha&euml;l</a></li>
  <li><a href="https://github.com/mrdoob/three.js/">Three.js</a></li></li>
 </ul>
</div>
</%block>
