body {
  padding-top: 60px;
}
 
div.space_bk {
  background:url(http://upload.wikimedia.org/wikipedia/commons/thumb/2/23/Space_Needle_2011-07-04.jpg/121px-Space_Needle_2011-07-04.jpg) bottom right no-repeat;
}


div.cc_box {
  background-color: #F7E49D;
  border: 2px ridge #D1CCB9;
  padding: 1em;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

div.cc-discovery {
 background: url(/img/cc-discovery.png) top right no-repeat;
}

div.unit_test_log {
  background-color: #FFF;
  position: absolute;
  top: 45px;
}

h1.cc_royal {
 color:#600;
}
